body {
	margin: 10px;

}

div {
    margin: 100px;
}

form {
    margin: 10px;
}

#animalButtons {
    margin: 20px;
}



#animal-form {
    margin: 20px;
    width: 200px;
    height: 200px;
    float: right;
}

#animal-input {
    margin: 10px;
}

#addAnimal {
    margin: 10px;
}

#animals {
    margin: 10px;
    width: 200px;
    height: 200px;
}

.gifTopic {
	margin: 5px;
}
